@model Forum_Dyskusyjne.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Announcements: </h1>

@if (Model.Announcements.First() != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Announcements.First().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Announcements.First().Author.UserName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Announcements)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.UserName)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
